.slide-card-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow: hidden;
    position: relative;
}

.slide-card {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(1);
    transition: all 0.5s ease-in, transform 0.1s linear;
    -webkit-transition: all 0.5s ease-in, transform 0.1s linear;
}

.slide-card.finished {
    /* display: none; */
    left: 500px;
    opacity: 0.5;
}

.slide-card.active {
    opacity: 0;
    transform: scale(0.9);
}

.slide-card.active.right {
    left: 500px;
}
.slide-card.active.left {
    left: -500px;
}
.slide-card.active.up {
    top: -1000px;
}
.slide-card.active.down {
    top: 1000px;
}

.leave-card-from {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0.1;
    transform: scale(0.5); 
    transition:all 0s, transform 0s linear;
    -webkit-transition: all 0s, transform 0s linear;
}

.leave-card-to {
    opacity: 1;
    transform: scale(1.0);
    transition:all 0.3s, transform 0.3s ease-in;
    -webkit-transition: all 0.3s, transform 0.3s ease-in;
}

.leave-card {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
    transform: scale(1.0);
    transition:all 0s, transform 0s linear;
    -webkit-transition: all 0s, transform 0s linear;
}
