.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px;
  height: 500px;
  background-color: #ff4455;
  border: 1px solid #444444;
  font-size:5rem;
  align-content: center;
  text-align: center;
  vertical-align: middle;
}


.container {
  width: 350px;
  height: 500px;
  background-color: #dddddd;
  border: 1px solid #444444;

  align-content: center;
  text-align: center;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
